.main {
    display: flex;
    width: 80vw;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.empty {
    width: 300px;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    align-items: center;
    margin: 200px auto;
    color: rgba(0, 0, 0, 0.295);
}